body {
  background: linear-gradient(135 deg, #8d0a68,#c16b5c);
  font-family: Arial;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  width: 300px;
  background: #ffffff;
  box-shadow: 0 20px 40px rgba(0,0,0,0.2);
  border-radius: 20px;
  overflow: hidden;
  text-align: center;
}

.header {
  background: linear-gradient(to right, #ff6a00, #ee0979);
  color: white;
  padding: 15px;
}

.stats {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.title {
  margin-top: 10px;
  color: gray;
}

ul {
  list-style: none;
  padding: 10px;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-top: 8px;
}

li span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Add Button */
.add-btn {
  margin: 15px auto;
  display: block;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  background: linear-gradient(to right, #ff6a00, #ee0979);
  color: white;
  cursor: pointer;
}

/* Popup */
.popup {
  display: none;
  margin-bottom: 15px;
}

.popup input {
  padding: 8px;
  width: 60%;
}

.popup button {
  padding: 8px;
}

/* radio style */
input[type="checkbox"] {
  accent-color: #ff7e5f; /* purple */
  width: 18px;
  height: 18px;
}